.footer{
    padding: 20px;
    height: 100px;
    color: cornsilk;
    
}
.footer--fadeBottom{
    height: 1.4rem;
 background-image: linear-gradient(180deg,transparent, rgba(37, 37, 37, 0.61), rgb(18, 19, 18));
}
.logo{
    margin-top: 15px;
    width: 250px;
    object-fit: contain;
}
.footer_content{
    object-fit: contain;
    display: flex;
    justify-content: space-between;
}
.logo_content{
    object-fit: contain;
    display: flex;
    justify-content: space-around;
}